<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Vigil - Hub Interativo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="game-container">
        
        <div style="text-align: center; margin-bottom: 20px;">
            <audio controls autoplay loop style="height: 30px;">
                <source src="{{ url_for('static', filename='trilha.mp3') }}" type="audio/mpeg">
                Seu navegador não suporta o elemento de áudio.
            </audio>
            <p style="font-size: 0.8rem; color: #8c8080; margin-top: 8px;">
                Trilha sonora: "Forgotten" por Dark Head Candy
            </p>
        </div>

        <header class="scene-header">
            <h1>O Ritual</h1>
            <hr>
        </header>

        <main class="narrative-box">
            <p id="story-text">{{ cena.texto }}</p>
        </main>

        <footer class="choices-box">
            {% if cena.escolhas %}
                {% for opcao in cena.escolhas %}
                    <a href="/{{ opcao.destino }}" class="choice-btn" style="text-decoration: none; display: block;">{{ opcao.texto }}</a>
                {% endfor %}
            {% else %}
                <a href="/" class="choice-btn" style="text-decoration: none; display: block; text-align: center;">[ Fechar o Grimório e Recomeçar ]</a>
            {% endif %}
        </footer>
        
    </div>

    <script>
        document.addEventListener('click', function(e) {
            // Se o jogador clicou em um dos botões de escolha...
            if (e.target.matches('.choice-btn') && e.target.tagName === 'A') {
                
                e.preventDefault(); // PASSO 1: Proíbe o navegador de recarregar a página!
                
                let url = e.target.href; // Pega o destino para onde o botão ia
                
                // PASSO 2: Vai buscar o texto novo no Python silenciosamente
                fetch(url)
                    .then(response => response.text())
                    .then(html => {
                        // Cria uma página virtual com a resposta
                        let parser = new DOMParser();
                        let doc = parser.parseFromString(html, 'text/html');
                        
                        // Recorta SÓ o texto e os botões da nova cena
                        let novoTexto = doc.querySelector('.narrative-box').innerHTML;
                        let novosBotoes = doc.querySelector('.choices-box').innerHTML;
                        
                        // PASSO 3: Cola o texto novo na tela atual. A música nem percebe!
                        document.querySelector('.narrative-box').innerHTML = novoTexto;
                        document.querySelector('.choices-box').innerHTML = novosBotoes;
                    });
            }
        });
    </script>
</body>
</html>