<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <div style="text-align: center; margin-bottom: 20px;">
            <audio controls autoplay loop style="height: 30px;">
                <source src="{{ url_for('static', filename='trilha.mp3') }}" type="audio/mpeg">
                Seu navegador não suporta o elemento de áudio.
            </audio>
            <p style="font-size: 0.8rem; color: #8c8080; margin-top: 8px;">
                Trilha sonora: "Forgotten" por Dark Head Candy
            </p>
        </div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Vigil - Hub Interativo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="game-container">
        <header class="scene-header">
            <h1>O Ritual</h1>
            <hr>
        </header>

        <main class="narrative-box">
            <p id="story-text">{{ cena.texto }}</p>
        </main>

        <footer class="choices-box">
            {% if cena.escolhas %}
                {% for opcao in cena.escolhas %}
                    <a href="/{{ opcao.destino }}" class="choice-btn" style="text-decoration: none; display: block;">{{ opcao.texto }}</a>
                {% endfor %}
            {% else %}
                <a href="/" class="choice-btn" style="text-decoration: none; display: block; text-align: center;">[ Fechar o Grimório e Recomeçar ]</a>
            {% endif %}
        </footer>
    </div>

</body>
</html>