<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Vigil - Hub Interativo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="game-container">
        <header class="scene-header">
            <h1>O Ritual</h1>
            <hr>
        </header>

        <main class="narrative-box">
            <p id="story-text">{{ cena.texto }}</p>
        </main>

        <footer class="choices-box">
            {% if cena.escolhas %}
                {% for opcao in cena.escolhas %}
                    <a href="/{{ opcao.destino }}" class="choice-btn" style="text-decoration: none; display: block;">{{ opcao.texto }}</a>
                {% endfor %}
            {% else %}
                <a href="/" class="choice-btn" style="text-decoration: none; display: block; text-align: center;">[ Fechar o Grimório e Recomeçar ]</a>
            {% endif %}
        </footer>
    </div>

</body>
</html>